*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 2rem;
    padding-top: 20px;

   
   
}
.cell{
    
    height: 30vh;
    text-align: center;
    padding-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
   ;
    margin-bottom: 10px;
    border-radius: 10px;
    
}
p{
padding-top: 20px;
font-size: 100%;
}
button{
    width: 50%;
    height: 5vh;
    background-color: black;
    color: white;
    border: none;
    border-radius:30px;
    margin-top: 20px;
    padding: 2px;

}
.second{
    max-width: 1600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
    gap: 1rem;
}
.chota{
height: 10vh;
text-align: center;
padding: 20px;
margin:10px;
font-size: 20px;
font-weight: 700;
border-radius: 10px;
}